<div>
  <h2>Proposito</h2>
  <hr>
  <p>
    El propósito de esta aplicación es poder aprender Angular, e implementar una interfaz para la<a
      href="https://github.com/diegopovalz/notas-spring-gradle" target="_blank">aplicación hecha con
      Spring Boot</a>
  </p>
  <p>
    Puedes revisar el código en este <a href="https://github.com/diegopovalz/notas-app-frontend"
      target="_blank">repositorio de
      GitHub</a>
  </p>
</div>
<router-outlet></router-outlet>
<app-alert *ngIf="titulo" [titulo]="titulo" [mensaje]="mensaje" [exito]="exito"></app-alert>
